<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.QueenslandConnectionString"
            connectionString="Data Source=|DataDirectory|\Queensland.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="WindowsFormsApplication1.Properties.Settings.Copy_of_QueenslandConnectionString"
            connectionString="Data Source=|DataDirectory|\Copy of Queensland.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>